div {
  animation: fadeIn ease 0.5s;

  margin-top: 15px;
  
  a {
    color: #666666;
    
    border-bottom: 1px double #272727;
  
    transition-property: color;
    transition-duration: 0.1s;
    
    &:hover {
      color: #a4a4a4;
    }
  }
}