<div>
  <div class="back">
    <a [routerLink]="['../']">
      ...précédent
    </a>
  </div>
  <h1>Interaction avec le client</h1>
  <p>
    Bien qu’il soit possible de choisir soi-même une idée de projet ou de produit à développer, il n’est évidemment pas
    rare de partir à la rencontre de <span class="bold">clients</span> afin de subvenir à leurs <span
      class="bold">besoins</span>, sous réserve d’être rémunéré (c’est
    l’essence même de notre métier). Et quand bien même certains clients ou certains développeurs se contentent d’une
    <span class="bold">seule</span> interaction en début de projet et une seconde en fin de cycle de développement, les
    erreurs sont souvent <span class="bold">fatales</span>
    : l’effet « <span class="bold">tunnel</span> » arrive et le client se rend compte que le développeur n’a pas fait
    exactement comme lui aurait
    souhaité qu’il fasse.
  </p>

  <p>
    C’est pour cette raison qu’il est capital d’établir un <span class="bold">suivi</span> entre celui qui a besoin, et
    celui qui délivre une
    <span class="bold">solution</span>. Non seulement cette solution se doit de correspondre aux <span
      class="bold">attentes</span> du client, mais elle doit aussi être
    <span class="bold">pérenne</span>. Et cela commence par une <span class="bold">analyse</span> solide des besoins du
    client : il ne faut jamais hésiter à <span class="bold">reformuler</span> sa
    demande, car il est pertinent de comprendre <span class="bold">conjointement</span> avec lui quel est son réel
    besoin. Cela permet au
    développeurs dès lors qu’il amorce un quelconque développement, d’être certain que la base sur laquelle il est en
    train de partir est en totale phase avec le besoin du client.
  </p>

  <p>
    Aussi, il existe certaines <span class="bold">méthodologies</span>, dont la méthodologie <span
      class="bold">Agile</span>, qui propose (sans imposer) un suivi régulier et
    des interactions <span class="bold">flexibles</span> et <span class="bold">efficaces</span> entre le développeur et
    le client. Cela permet non seulement au client d’avoir
    une réelle sensation de <span class="bold">participer</span> au développement de la solution de son besoin, mais
    aussi aux développeurs d’avoir
    une vision <span class="bold">précise</span> et continue de ce que le client désire voir naître.
  </p>

  <p>
    Me concernant, c’est exactement ce que nous avons mis en place chez Mantrans, l’entreprise où je travaille depuis
    maintenant deux ans. Nous organisons une réunion <span class="bold">hebdomadaire</span> au sein de laquelle les
    experts du métier nous proposent
    des <span class="bold">fonctionnalités</span> à développer, ou même parfois des <span class="bold">bugs</span>
    qu’ils ont repéré (car ils sont eux-mêmes utilisateurs du
    produit que l’on développe). Cela leur permet à eux de participer très activement au projet, et à nous d’avoir leur
    vision en tant qu’experts métier d’un côté, et aussi utilisateurs de l’autre.
  </p>

  <p>
    Un suivi <span class="bold">global et continu</span> avec le client, permet de développer plus rapidement, plus
    efficacement, et conforte chacun
    des deux acteurs dans l’idée que leur place est <span class="bold">méritante et méritée</span>.
  </p>
</div>
