<div>
  <h1>Fork</h1>
  <h3>Remise en contexte</h3>
  <p>
    INTECH propose à ses étudiants une pédagogie de projet. Il s’agit d’une pédagogie active qui permet aux étudiants
    d’acquérir des compétences techniques ou humaines, durant la réalisation d’une production concrète. Ainsi au début
    de chaque semestre, les étudiants suivent toute une batterie de cours, dispensés par des professeurs ou intervenants
    extérieurs, qui leur permettent de bâtir un socle de compétences sur lesquelles ils vont pouvoir se baser, quelques
    semaines plus tard, lorsqu’ils commenceront à réaliser leur projet informatique d’un côté, et leur projet de
    formation humaine de l’autre.
  </p>

  <p>
    Quelle que soit la matière concernée, ces projets se font en équipe et s’articulent souvent autour d’une idée dont
    les étudiants sont les initiateurs. Les seules éventuelles contraintes qu’ils doivent respecter sont que leur projet
    doit être réalisé en mettant en pratique les compétences techniques ciblées par les cours de leur semestre.
  </p>

  <p>
    À l’issue de chaque semestre est organisé ce que l’on appelle le « Tech Day ». C’est un événement durant lequel tous
    les étudiants du même campus présentent leur projet à différents jurys, qui sont principalement composés de membres
    d’entreprise, et ont le privilège pour les trois meilleurs d’entre eux, de monter sur le podium à la fin de la
    journée et d’obtenir un prix.
  </p>

  <p>
    Cela a été mon cas durant mon cinquième semestre, où nous avons eu mon coéquipier et moi, la bonne idée de
    développer Fork, ce qui nous a permis d’obtenir la première place du podium.
  </p>

  <h3>Qu'est-ce que Fork ?</h3>
  <p>
    Une légère remise en contexte s’impose. Durant le quatrième semestre à INTECH, les étudiants sont chargés
    d’organiser un événement dans le cadre de leur projet de formation humaine. Pour le financer, ceux-ci doivent mettre
    en place des « buvettes » afin de vendre toutes sortes de produits alimentaires aux autres étudiants, professeurs,
    intervenants etc.
  </p>

  <p>
    Mais qui dit vendre dit aussi tenir des comptes, et la plupart du temps les étudiants ont beaucoup de mal à les
    tenir. C’est là qu’est née l’idée de développer Fork : une première solution de gestion des commandes, qui
    permettrait à la fois aux clients des équipes de passer des commandes grâce à une application mobile, et aux équipes
    elles-même de mieux gérer leur stock, leur caisse, et d’être encore plus efficace dans leur prise en charge des
    commandes grâce à un panel d’administration en ligne sous forme de site web.
  </p>

  <h3>Choix de l'architecture</h3>
  <p>
    Les « buvettes » organisées par les étudiants n’ouvrant qu’à certains moments précis de la journée, <a
      routerLink="/skills/architecture-design">le choix de l’architecture</a> a principalement reposé sur la nécessité
    de gérer de nombreuses requêtes envoyées au même moment
    (i.e. durant les courts horaires d’ouverture). Qui dit de nombreuses requêtes dit une nécessité de gérer la
    concurrence entre elles ; quoi de mieux alors qu’utiliser .NET, le framework que nous avions étudié de longues
    années à l’école, et vis-à-vis duquel nous étions déjà bien formés. De même que cette problématique de concurrence
    est quelque chose que j’avais déjà traité dans mon alternance, lors du réusinage d’une solution existante. De plus,
    ayant fait, le semestre précédent, un stage de six mois dans une entreprise où .NET était le framework favori de ses
    développeurs, cette décision était tout à fait raisonnable. Nous partions sur les meilleures bases.
  </p>

  <h3>Un bon produit</h3>
  <p>
    Nous voulions mon collègue et moi développer un produit de qualité, utile et dont les étudiants voudraient vraiment.
    Un produit non seulement efficace, mais aussi visuellement attractif et différent de ce que d’autres étudiants
    auraient pu proposer. En fait, nous voulions à l’issue de ce développement, proposer un produit capable d’être mis
    en production tout en étant marqué de notre propre identité.
  </p>

  <p>
    Le développement a duré quatre mois, ponctués par des recettes organisées avec nos professeurs. De tous les projets
    que nous avions réalisé à l’école, celui-ci était le mieux organisé : nous n’avons occasionné aucun retard, ce qui
    nous a permis de finir le projet dans les temps, et de corriger les bugs qui devaient être corrigés.
  </p>

  <h3>Aucune difficulté ?</h3>
  <p>
    Si le projet a été terminé dans les temps, ce n’est pas parce que nous n’avons rencontré aucune difficulté mais
    plutôt car nous avons su tirer profit de nos deux ans passés à l’école, afin de nous aider l’un et l’autre à
    progresser lorsque cela était nécessaire. Nous avions tous les deux des difficultés localisées dans le domaine
    d’expertise de l’autre. Ainsi, j’étais nettement moins enclin à comprendre le développement mobile, là où mon
    coéquipier le saisissait beaucoup mieux que moi. A contrario, celui-ci était bien moins à l’aise avec la conception
    de l’architecture ou le développement du back-end. C’est grâce à notre expérience et notre complémentarité que nous
    avons su guider le projet de la meilleure façon que nous avons pu.
  </p>

  <h3>La finale</h3>
  <p>
    Nous avons passé quelques semaines à appliquer les derniers correctifs et mises à jour visuelles, à l’issue
    desquelles nous avons présenté à trois jurys différents lors du Tech Day, ce projet qui nous avait tant passionné
    durant ces quatre mois de développement acharné. Nous avions beaucoup travaillé la manière dont nous allions vendre
    ce produit aux membres d’entreprise à qui nous devions le présenter : tout avait été préparé à l’avance. Le stand,
    la décoration, le discours, les slides, les réponses à certaines questions. Cette préparation n’a été possible que
    parce que nous avons correctement réparti notre temps de développement. Cela notamment grâce à la conception d’une
    bonne architecture qui nous a permis de ne pas revenir inlassablement dessus une fois le développement commencé. En
    fin de journée, nous avons été élus meilleur projet du semestre et cela a été le plus cadeau que nous pouvions
    recevoir en tant qu’étudiants.
  </p>
</div>
