<div>
  <div class="back">
    <a [routerLink]="['../']">
      ...précédent
    </a>
  </div>
  <h1>Communication</h1>
  <p>
    La communication au sens strict du terme est le fait de <span class="bold">transmettre</span>, en tant qu’entité ou
    en tant que groupe, des
    <span class="bold">informations</span> à une autre entité ou à un autre groupe.
    Sa raison d’être demeure selon moi dans sa capacité à rallier, <span class="bold">rassembler</span> des gens :
    autour d’une idée, d’un concept,
    de connaissances, d’un point de vue, et bien d’autres.
  </p>

  <p>
    Au sein d’une entreprise ou d’une institution par exemple, et donc plus largement dans un milieu professionnel, on
    distingue <span class="bold">plusieurs manières</span> de communiquer. Toutes ne sont adaptées qu’à certaines
    situations : on ne communique pas
    de la même façon lorsque l’on présente un plan de licenciement que lorsque l’on propose une offre d’emploi à
    quelconque candidat.
    <br>
    Le tout est finalement d’<span class="bold">adapter</span> avec justesse et potentiellement à l’aide de différents
    <span class="bold">outils</span>, le message que l’on transmet à sa cible.
  </p>

  <p>
    Quelques <span class="bold">expériences</span> forgent le caractère d’un communiquant aguerri. Dans l’<span
      class="bold">interaction</span> avec les collègues par
    exemple, c’est souvent en <span class="bold">observant</span> attentivement leur comportement et leur manière
    d’interagir avec les autres, que
    l’on apprend à <span class="bold">se positionner</span> à une hauteur suffisante pour faciliter la communication
    avec eux. Certains d’entre eux ne supporteront d’ailleurs pas les phrases à rallonge, les explications tirées par
    les cheveux, et ne feront parfois
    preuve d’aucune patience. D’autres n’apprécieront pas cela non plus, mais ne vous le montreront pas nécessairement :
    ils préféreront plutôt faire en sorte de ne plus travailler avec vous.
  </p>

  <p>
    L’avantage d’être <span class="bold">alternant</span> est de bénéficier d’une <span class="bold">attention
      particulière</span> quant au travail accompli, aux livrables
    produits et à la façon dont on communique. Très rapidement dans mon travail, j’ai été repris sur la manière dont je
    communiquais : mes mails étaient de longs écrits, parfois difficilement déchiffrables, non adaptés à l’environnement
    peu « verbeux » de la logistique et du transport.
    <br>
    Il s’agit donc d’un reproche <span class="bold">constructif</span> que l’on m’a fait, et que je tâche d’appliquer
    chaque jour durant dès lors
    que je communique en interne… mais aussi en externe ! Des explications claires et concises ne perdent pas la
    personne qui écoute.
    <br>
    Le temps passé à réaliser un projet ou à concevoir un produit résulte souvent des processus communicatifs y en été
    associés : plus les processus sont longs, plus le temps passé à développer l’est aussi.
  </p>

  <p>
    Si je devais conclure sur le fait de communiquer, je dirais qu’il s’agit d’un des éléments les plus <span
      class="bold">importants</span> dans
    tous les domaines : personnel, professionnel, institutionnel… Il n’est de sens dans une idée ou dans un projet, que
    si l’on est capable de le formuler suffisamment bien pour exposer une vision suffisamment claire.
  </p>
</div>
