<div>
  <h1>Communication</h1>
  <p>
    La communication au sens strict du terme est le fait de transmettre, en tant qu’entité ou en tant que groupe, des
    informations à une autre entité ou à un autre groupe. Sa raison d’être réside selon moi dans sa capacité à rallier,
    rassembler des gens : autour d’une idée, d’un concept, de connaissances, d’un point de vue, et bien d’autres.
  </p>

  <p>
    Au sein d’une entreprise ou d’une institution par exemple, et donc plus largement dans un milieu professionnel, on
    distingue plusieurs manières de communiquer. Toutes ne sont adaptées qu’à certaines situations : on ne communique
    pas de la même façon lorsque l’on présente un plan de licenciement que lorsque l’on propose une offre d’emploi à un
    quelconque candidat.
  </p>

  <p>
    Le tout est finalement d’adapter avec justesse et potentiellement à l’aide de différents outils, le message que l’on
    transmet à sa cible.
  </p>

  <p>
    Quelques expériences forgent le caractère d’un communiquant aguerri. Dans l’interaction avec les collègues par
    exemple, c’est souvent en observant attentivement leur comportement et leur manière d’interagir avec les autres, que
    l’on apprend à se positionner à une hauteur suffisante pour faciliter la communication avec eux. C’est notamment ce
    que j’ai eu l’occasion de découvrir en travaillant chez LIP depuis mars 2019 : au tout début, je n’y connaissais
    personne et j’ai rapidement compris qu’il fallait que je prenne le temps d’observer avant de pouvoir communiquer.
    C’est quelque chose que j’ai d’ailleurs appris à mes dépens : un jour j’ai demandé une information importante à une
    partie prenante extérieure à la société, en utilisant de grandes formules de politesse. J’avais peur de froisser
    cette personne car je ne la connaissais pas ; et donc j’ai chargé mon courrier de futilités, ce qui a eu pour effet…
    de noyer ma réelle demande. Et de ne jamais obtenir de réponse. Certaines personnes ne supportent pas les phrases à
    rallonge, les explications tirées par les cheveux, et ne font parfois preuve d’aucune patience. D’autres
    n’apprécient pas cela non plus, mais ne vous le montrent pas nécessairement : ils préfèrent plutôt faire en sorte de
    ne plus travailler avec vous.
  </p>

  <p>
    L’avantage d’être alternant est de bénéficier d’une attention particulière quant au travail accompli, aux livrables
    produits et à la façon dont on communique. Très rapidement dans mon travail, j’ai été repris sur la manière dont je
    communiquais : mes mails étaient de longs écrits, parfois difficilement déchiffrables, non adaptés à l’environnement
    peu « verbeux » de la logistique et du transport. Il s’agit donc d’un reproche constructif que l’on m’a fait, et que
    je tâche d’appliquer chaque jour durant dès lors que je communique en interne... mais aussi en externe ! Je fais en
    sorte de donner des explications claires et concises afin de ne pas perdre la personne qui m’écoute. Tous les
    échanges effectués entre les différentes parties prenantes d’un projet, influent sur le temps passé à le concevoir.
    Si l’information circule mal, le projet n’avance pas, trop peu ou ne prend pas la bonne direction.
  </p>

  <p>
    Finalement la communication, au-delà même de n’importe quelle autre compétence technique ou transverse, a une place
    fondamentale dans tout type de projet. Elle est, parmi d’autres, un véritable vecteur de réussite dans le sens où la
    qualité du projet pâtit d’échanges de mauvaise qualité et, a contrario, bénéficie des avantages que lui confèrent
    des échanges de bonne qualité. Il n’est de sens dans une idée ou dans un projet, que si l’on est capable de le
    formuler suffisamment bien pour exposer une vision suffisamment claire. Et cette vision se doit d’être exprimée en
    continu, par l’ensemble des parties prenantes : c’est un effort de groupe qui assure la cohérence de l’idée générale
    et une cohésion entre tous.
  </p>
</div>
