<div>
<h1>🥄 Spoon</h1>
    <p>
        Spoon est une <span class='bold'>application web</span> qui « digitalise » un système de <span class='bold'>gestion
            de commandes</span> en ligne. Il est possible à la
        fois pour le <span class='bold'>vendeur</span> d’y gérer intuitivement son stock de produits, ses clients, ses
        transactions... et pour sa
        <span class='bold'>clientèle</span> d’y passer commande très simplement.
        <br />
        <br />
        L’intention principale de ce projet réside dans le fonctionnement même de l’école au sein de laquelle il a été
        développé : permettre à des étudiants de <span class='bold'>vendre efficacement</span> des <span
            class='bold'>produits alimentaires</span> afin de <span class='bold'>financer l’événement</span>
        qu’ils sont chargés d’organiser durant leur quatrième semestre à IN’TECH.
        <br />
        Cet article fait machine arrière et retrace le chemin qui a été parcouru afin d’obtenir un produit suffisamment
        fonctionnel et présentable pour être <span class='bold'>gracieusement récompensé</span>.
        <br />
        <br />
        Il faut remonter <span class='bold'>un an en arrière</span> : je suis en quatrième semestre et comme le reste des
        étudiants de ma promotion,
        je suis chargé d’organiser un événement avec mon équipe.
        <br />
        Sans entrer dans les détails, cet <span class='bold'>événement</span> se révèle quelque peu <span
            class='bold'>coûteux</span> : il va donc nous falloir, telle que la
        coutume le veut, <span class='bold'>aménager un stand</span> au sein de l’école et y <span class='bold'>vendre au
            détail</span> toutes sortes de snacks. Et du café. Les
        étudiants adorent le café.
        <br />
        <br />
        Le stand a été monté, les échantillons de différents produits y sont fièrement disposés, le « caissier » face à son
        ordinateur a ouvert sa feuille Excel afin d’y noter les différentes transactions, et nous autres vendeurs nous
        préparons à recevoir nos éventuels clients.
        <br />
        Une première buvette, une seconde, une troisième... dix buvettes, et le <span class='bold'>compte</span> commence à
        être <span class='bold'>difficilement tenable</span>
        : la rigueur n’a pas nécessairement été de mise à chaque occasion, certains achats ont été faits à crédit et n’ont
        pas été notés dans la feuille de calcul centrale, d’autres n’ont même pas été comptabilisés et laissent un trou
        béant dans la caisse... enfin bref : tout cela est vite devenu <span class='bold'>volatil</span>.
        <br />
        <br />
        Après quelques <span class='bold'>réorganisations budgétaires</span> relativement <span
            class='bold'>coûteuses</span> en termes de temps (temps que l’on aurait pu
        passer à vendre nos produits), nous avons finalement pu atteindre notre objectif. Mais cela n’a pas été sans peine
        et aurait tout à fait pu nous <span class='bold'>épuiser</span> si l’objectif du projet avait été encore plus
        ambitieux.
        Le constat était le même pour toute l’équipe : il aurait été très appréciable d’utiliser une plateforme capable de
        nous <span class='bold'>aider</span> à <span class='bold'>gérer nos commandes</span>, nos <span
            class='bold'>stocks</span>, nos <span class='bold'>transactions</span>... tout cela plus intuitivement que sur une
        feuille
        de calcul Excel centrale.
        <br />
        <br />
        De là est donc née l’idée de <span class='bold'>Spoon</span>. Ou plutôt « Stall, » puisque c’est le nom que je lui
        ai donné à l’époque.
    </p>
</div>
