<div>
  <h1>Garrison</h1>
  <p>Depuis tout petit, je suis animé par ce désir de créer, d’assembler des choses. Donner à de simples idées la chance
    d’exister. Souvent, ces choses que j’ai créées n’ont vécu que le temps durant lequel j’ai souhaité qu’elles existent
    ; mais je n’étais qu’un enfant qui avait du mal à contrôler ses pensées, comme beaucoup d’autres. Aujourd’hui les
    choses sont différentes : je m’apprête à valider un mastère et j’ai déjà deux années d’expérience professionnelle
    derrière moi. Je me sens plus que jamais capable. Capable de beaucoup de choses : de travailler, de construire, de
    transmettre, d’agir. Agir, enfin. Toute ma vie, je suis resté figé à écouter, à prendre des notes, à recevoir
    l’enseignement que l’on m’a dispensé sans jamais véritablement agir, ni saisir le monde qui m’entoure depuis tout ce
    temps. J’ai eu cette place à l’abri de ce qui m’attend vraiment dehors, et je suis content même reconnaissant
    d’avoir eu le privilège d’en bénéficier. Mais je sens au plus profond de mon être, que j’ai ce besoin insatiable de
    découvrir le monde comme j’entends, moi, le découvrir. Et je pense que cela commence avec un projet. Un projet qui
    prouverait à tous mais surtout à moi, que toutes ces années à apprendre, à attendre, m’ont donné suffisamment de
    cartes en main, pour créer l’ultime assemblage de la première partie de ma vie. Cet « assemblage », ce projet, c’est
    Garrison.</p>

  <h3>Qu'est-ce que Garrison ?</h3>
  <p>Garrison est un jeu par navigateur, c’est-à-dire qu’on y joue directement depuis son navigateur, de la même manière
    qu’on irait sur un simple site web. Ce modèle de jeu hérite directement de celui d’OGame, le plus célèbre des jeux
    de gestion par navigateur où il est possible de créer son propre empire galactique.</p>

  <p>De la même manière qu’OGame a été conçu, Garrison permet de créer sa « base » afin de l’agrandir et de l’améliorer
    tout au long de la partie ; sachant qu’une partie dure éternellement, puisqu’il s’agit d’un jeu en ligne. La seule
    différence avec OGame est que Garrison ne partage évidemment pas le même code et qu’il est inspiré de l’univers de
    Warcraft.</p>

  <h3>Conception et développement</h3>
  <p>Avant de développer un jeu comme celui-ci, il faut anticiper de nombreux points de variation. Il s’agit là d’un
    produit qui, à terme, va être utilisé par une quantité non négligeable d’utilisateurs, ce qui va forcément générer
    des anomalies (liées à la capacité de prise en charge des requêtes, des principes de concurrences sur les appels,
    etc). C’est pour cette raison que j’ai jugé bon de concevoir une architecture solide, viable et performante, capable
    de répondre à une certaine charge de requêtes ; et donc à un nombre d’utilisateurs élevé ; tout en restant flexible
    et ouverte à la modification. Le « défi » était en réalité d’établir une base architecturale solide, mais sans être
    rigide, et flexible mais sans être volatile.</p>

  <p>C’est lorsque le développement a commencé que j’ai pu me rendre compte de l’importance de cette décision, et des
    bénéfices que j’allais pouvoir en tirer. À ce moment précis et parce que Garrison allait être le démonstrateur de
    mes capacités, j’ai décidé de mettre en pratique une autre de mes compétences, à savoir l’implémentation de tests.
    Ceux-ci me permettraient non seulement d’assurer le bon fonctionnement de l’application, mais aussi qu’aucune
    régression ne serait induite par l’ajout ou la modification de code effectuée lors d’une mise à jour de
    l’application. Avec ce bagage technique en poche, le projet était enfin prêt à être lancé pour de bon.</p>

  <p>Aujourd’hui, Garrison est dans sa dernière phase de développement. Prêt à être testé en version « beta », j’espère
    de tout cœur que toutes ces heures de travail m’auront permis de fournir un produit de qualité, jouable et attractif
    sur lequel mes propres amis prendront plaisir à jouer. C’est notamment là que réside l’intérêt que je porte à ma
    profession : je suis désormais capable de créer des choses avec un seul ordinateur et mon imagination, et ça, c’est
    incroyable.</p>
</div>
