<div>
  <h1>by</h1>
  <h3>Remise en contexte</h3>
  <p>
    C’est à l’issue du cycle bachelor que les étudiants d’INTECH doivent trouver un stage en entreprise. Ce stage, d’une
    durée de six mois, valide les trois premières années passées à l’école. Ce n’est qu’une fois terminé qu’il permet
    aux étudiants de commencer le cycle mastère. Je considère cet instant précis comme étant le début d’un changement
    radical dans la vie de l’étudiant. Un changement dans sa vie d’étudiant bien sûr, mais aussi dans celle de tous les
    jours : c’est l’entrée dans le monde professionnel, et que cette expérience se déroule admirablement bien ou
    fâcheusement mal, elle change sa vie quoi qu’il en soit.
  </p>

  <p>
    En réalité, l’architecture d’une solution représente l’ensemble des premiers choix qui ont été pris quant à sa
    construction. C’est la représentation même du chemin qu’ont décidé de prendre les équipes techniques pour développer
    le logiciel. Une fois que les développeurs ont bien saisi le besoin pour lequel ils s’apprêtent à mettre en place
    une solution, ils sont capables de mieux définir les conditions nécessaires à l’élaboration de l’architecture, et à
    son fonctionnement : compréhension du besoin et du domaine duquel il est né (i.e. le corps de métier des clients),
    définition des besoins techniques, et enfin définition d’une architecture capable de répondre à ces besoins
    techniques tout en anticipant de potentiels points de variation qui pourraient surgir pendant le développement du
    projet.
  </p>

  <p>
    En mars 2019 approchait la fin de mon cycle bachelor. C’est à ce moment-là que j’ai intégré Mantrans. Mantrans est
    une entreprise spécialisée dans l’emploi intérimaire du transport et de la logistique. Composée de vingt-six agences
    en France métropolitaine, elle s’est rapidement imposée de par son expertise dans ces deux domaines mais aussi car
    il s’agit, historiquement, de la première société d’intérim proposant un service de nuit. Cela signifie que le
    recrutement des intérimaires est possible 24H/24.
  </p>

  <p>
    Le but de Mantrans depuis quelques années était très clair : elle voulait digitaliser le travail temporaire afin, à
    terme, de supprimer les dossiers papier. Autrement, l’entreprise voulait se moderniser pour gagner du temps et donc
    – forcément – de l’argent.
    Pour ce faire, il fallait créer une solution RH interne, utilisable dans toutes les agences du groupe. Ainsi donc
    Mantrans a créé, en 2018, un pôle technique appelé « DigiTT » pour « Digitalisation du Travail Temporaire. »
    Celui-ci était composé d’un lead developer ainsi que d’un chef de projet, qui ont commencé non seulement le
    développement de la solution en 2018, mais l’ont aussi déployée dans dix des vingt-six agences existantes. C’est
    donc un an plus tard que je les ai rejoints en tant qu’intern developer, à la fois pour étendre le déploiement de la
    solution RH aux seize agences restantes, mais aussi bien sûr pour contribuer au développement du produit.
  </p>

  <h3>Présentation du produit</h3>
  <p>
    Le but de Mantrans depuis quelques années était très clair : elle voulait digitaliser le travail temporaire afin, à
    terme, de supprimer les dossiers papier. Autrement, l’entreprise voulait se moderniser pour gagner du temps et donc
    – forcément – de l’argent.
    Pour ce faire, il fallait créer une solution RH interne, utilisable dans toutes les agences du groupe. Ainsi donc
    Mantrans a créé, en 2018, un pôle technique appelé « DigiTT » pour « Digitalisation du Travail Temporaire. »
    Celui-ci était composé d’un lead developer ainsi que d’un chef de projet, qui ont commencé non seulement le
    développement de la solution en 2018, mais l’ont aussi déployée dans dix des vingt-six agences existantes. C’est
    donc un an plus tard que je les ai rejoints en tant qu’intern developer, à la fois pour étendre le déploiement de la
    solution RH aux seize agences restantes, mais aussi bien sûr pour contribuer au développement du produit.
  </p>

  <p>
    Pour ce faire, il réunit deux entités distinctes : les annonces, ou les offres d’emploi déposées par les clients de
    Mantrans, et les profils qui ne sont autres que les intérimaires. Chacun est libre de postuler en ligne à une ou
    plusieurs des annonces enregistrées sur la plateforme, ou de se rendre en agence afin d’être pris en charge par un
    exploitant. Dans les deux cas, l’intérimaire finit par être enregistré dans la base des profils de Mantrans.
    Cela représente un avantage non négligeable, dans le sens où les agences sont en mesure – grâce à cette
    informatisation – de consulter une base de candidats potentiels très riche, et d’y trouver des profils en totale
    adéquation avec la demande de leurs clients.
    L’assignation d’un intérimaire à une mission est donc beaucoup plus rapide, plus simple et plus fiable car son
    parcours chez les clients est lui aussi enregistré en base, ce qui permet d’avoir une vision globale de la qualité
    du travail qu’il y a effectué.
  </p>

  <h3>Ma place au sein du projet</h3>
  <p>
    Mon entrée dans le monde professionnel s’est donc ainsi faite à l’issue d’un premier stage de six mois, où j’ai fini
    par intégrer Mantrans en tant que web developer en alternance, de septembre 2019 à septembre 2021. Ce n’est qu’après
    ces six mois de formation que je suis devenu autonome et compétent sur le développement de by. Cela s’explique
    notamment par le fait que j’ai eu la chance d’être entouré de passionnés, qui m’ont formé à un rythme continu et
    très humain.
  </p>

  <p>
    Ma première réalisation a été de développer un système de « métier principal » : en principe un profil, ou
    intérimaire, pouvait avoir plusieurs métiers mais rien ne disait aux exploitants quel était son métier principal.
    L’avantage d’un tel système serait que les recherches des exploitants puissent être mieux filtrées en fonction du
    besoin exprimé. C’est-à-dire que si la recherche concernait les chauffeurs poids-lourd, les profils en tête de liste
    seraient ceux dont le métier principal est chauffeur poids-lourd, et les autres ne viendraient qu’après. Cela
    ajoutait en fait un niveau de granularité supplémentaire dans le système de recherche de by.
  </p>

  <p>
    Avant de me lancer dans le développement de cette fonctionnalité, j’ai jugé bon d’obtenir de plus amples
    informations auprès des experts du métier à l’initiative de cette demande. De manière à récupérer les éléments les
    plus pertinents, j’ai veillé à soigner ma communication. C’est quelque chose que je fais systématiquement lorsque je
    démarre un nouveau développement, de la même manière que je l’aurais fait avec un client. Je considère les
    interactions avec les parties prenantes sont tout aussi importantes que le développement que je m’apprête à fournir.
  </p>

  <p>
    Ce n’est qu’une fois ces informations obtenues que j’ai pu démarrer le développement de la fonctionnalité demandée,
    et l’achever lors d’une recette effectuée en parallèle avec les experts du métier. Comme nous avions correctement
    établi et détaillé leur besoin ensemble, celle-ci a été une totale réussite : tout le monde était satisfait.
  </p>

  <h3>Et aujourd'hui ?</h3>
  <p>
    Aujourd’hui bien sûr, les développements qui me sont demandés sont bien plus complexes que les premiers. Mais ces
    deux années d’expérience chez Mantrans m’ont permis d’avoir une place importante dans le projet. Plus qu’autonome,
    je suis devenu au fil du temps passé à travailler sur by, efficace, productif, force de proposition et responsable.
    Je suis à ce jour le bras droit du projet, et j’ai mon mot à dire sur chacune des décisions qui le concernent. En
    septembre 2021, je serai officiellement recruté par Mantrans pour perpétrer le développement de sa solution
    informatique.
  </p>
</div>
