<div>
  <div class="back">
    <a [routerLink]="['../']">
      ...précédent
    </a>
  </div>
  <h1>Tests</h1>
  <p>
    Prenez n’importe quelle application, n’importe quel produit, développez-y des fonctionnalités sur un ou deux ans, et
    constatez à quel point la moindre <span class="bold">modification</span> de code y devient si facilement <span
      class="bold">critique</span>. Il ne suffit que d’une simple
    ligne pour compromettre la <span class="bold">sécurité</span> de toute une application, ou même son <span
      class="bold">fonctionnement</span>.
  </p>

  <p>
    Fort heureusement, il existe un moyen de s’assurer qu’aucune <span class="bold">régression</span> n’est induite par
    l’ajout ou la modification
    de code dans un projet. Ce moyen, ce sont les <span class="bold">tests</span>. Ils peuvent être de différente <span
      class="bold">nature</span>, tester un élément
    singulier ou un ensemble de fonctionnalités supposées fonctionner dans tel ou tel <span
      class="bold">contexte</span>.
  </p>

  <p>
    C’est extrêmement <span class="bold">pratique</span> dans le cas où plusieurs développeurs travaillent sur la même
    application, ou lorsque le
    développement s’étend sur plusieurs mois ou années. J’ai moi-même eu l’opportunité de développer des tests lors de
    mon
    projet en cinquième semestre, <span class="bold">Fork</span>. Ces tests s’assuraient que le <span
      class="bold">serveur</span> de mon application pouvait toujours
    <span class="bold">interagir</span> avec la <span class="bold">base de données</span> à laquelle il était censé se
    connecter. Cela me permettait lors de chaque ajout de
    fonctionnalité, de m’assurer que les interactions entre mon serveur et ma base de données étaient <span
      class="bold">toujours fonctionnelles</span>. Et lorsque ce n’était plus le cas, c’est que le code que j’avais
    ajouté ou modifié n’était pas bon. À
    ce moment, je ne partageai pas mon code aux autres développeurs avant de m’être assuré que tous mes tests passaient
    de nouveau.
  </p>

  <p>
    J’ai rencontré quelques développeurs qui considéraient les tests comme une <span class="bold">perte de temps</span>.
    S’il s’agit effectivement
    d’un effort en soi (puisqu’il faut les développer), le temps passé à les développer sera très largement <span
      class="bold">rentable</span>
    lorsque les premières régressions de ceux qui n’ont pas développé de tests apparaîtront dans leurs applications.
  </p>

  <p>
    Je ne suis pas un testeur « fou », je teste ce qu’il est <span class="bold">judicieux</span> et important de tester,
    comme des fonctionnalités
    critiques dont l’utilisateur a besoin lors de ses nombreuses interactions avec mon produit par exemple. Je pense
    qu’il
    existe un <span class="bold">juste milieu</span> entre ne rien tester, et tout tester. Un milieu <span
      class="bold">efficace</span> et surtout <span class="bold">maintenable</span>.
  </p>
</div>
