<div>
    <h1>📰 _adaptation</h1>
    <p>
        In biology, adaptation has several meanings but one of them can be defined as the « <span class='italic'>functional
            adjustment of the living being to his environment</span>. »
        <br />
        And I think this is pretty much typical of what you can live on a daily basis ; doesn't really matter where : at the
        office, outside, at home… There is a point where you need to adapt yourself. That is bound to happen.
        <br />
        <br />
        But yet many people still don't really grasp that some situations need themselves to be demonstrating some
        adaptation.
        <br />
        For instance in management where the manager literally doesn't adapt himself to the three (not a hundred) different
        personalities of his team members.
        <br />
        <br />
        The ancient human being was kind of forced to adapt himself to his environment, otherwise he would have died,
        disappeared, handing over to another species. This is natural selection after all.
        <br />
        But today things are a bit different because we all are living in much more secured and completed societies, we all
        have our jobs, relationships… So the concept of adaptation has quite evolved into something more complex.
        And so you can adapt yourself in much more ways than you could back then.
        <br />
        <br />
        This is where it becomes really important to understand the necessity to adapt to these more complex and complete
        environments and relationships : your faculty to adapt yourself to what or who's around not only makes you survive,
        but it now also defines how far you can go in any environment or relationship.
        Adaptation is often the first key of the locked door.
    </p>
</div>
