<div>
  <nav>
    <div>
      <a [routerLink]="['communication']" routerLinkActive='active'>
        Communication
      </a>
    </div>
    <div>
      <a [routerLink]="['tech-intelligence']" routerLinkActive='active'>
        Veille technologique
      </a>
    </div>
    <div>
      <a [routerLink]="['architecture-design']" routerLinkActive='active'>
        Architecture
      </a>
    </div>
    <div>
      <a [routerLink]="['client-interaction']" routerLinkActive='active'>
        Interaction client
      </a>
    </div>
    <div>
      <a [routerLink]="['tests']" routerLinkActive='active'>
        Tests
      </a>
    </div>
    <div>
      <a [routerLink]="['user-schooling']" routerLinkActive='active'>
        Transmission
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>