<div>
  <div class="back">
    <a [routerLink]="['../']">
      ...précédent
    </a>
  </div>
  <h1>Veille technologique</h1>
  <p>
    Il existe une chose dont on se rend très vite compte dans le métier de développeur, c’est que <span
      class="bold">tout va très vite</span>. De là
    naît cette nécessité de se « mettre à la page », de <span class="bold">cultiver</span> sa curiosité sans jamais la
    ménager, sur son temps libre
    ou au travail ; le tout étant de trouver un <span class="bold">rythme</span> suffisamment cadencé pour être au
    courant de ce qui se passe «
    ailleurs », et rester productif dans ce qui se fait « ici ».
  </p>

  <p>
    De mon humble expérience, d’abord en tant que stagiaire puis en tant qu’alternant, je dirais qu’il existe plusieurs
    <span class="bold">types de veilleur</span> aussi bien qu’il existe plusieurs types de veille. Mais même au sein des
    équipes techniques, les
    développeurs ne veillent pas nécessairement sur les mêmes choses. Cela paraît tout à fait normal puisque tous les
    développeurs ne travaillent pas sur les mêmes <span class="bold">technologies</span>.
  </p>

  <p>
    Là où tout cela devient très intéressant, c’est que la <span class="bold">vision d’ensemble</span> de ce qui à la
    base est un technicien,
    s’élargit suffisamment pour atteindre d’autres domaines, parfois techniquement différents, d’autres fois
    radicalement
    <span class="bold">différents</span>. C’est le cas lorsqu’un développeur creuse un sujet si profondément qu’il
    l’amène à des problématiques plus
    <span class="bold">commerciales</span> que techniques. Et en y réfléchissant de plus près, cela arrive
    systématiquement dès que l’on creuse un
    sujet technique en particulier. Cela est dû au fait qu’indubitablement, <span class="bold">la technique amène au
      commerce</span>, car en fin de
    compte la technique est un moyen pour <span class="bold">commercer</span> : lorsque l’on développe un produit on ne
    se dit pas « nous allons
    écrire cent mille lignes de code », mais plutôt « nous allons délivrer un produit qui va révolutionner le marché et
    pour cela il nous faut écrire cent mille lignes de code ». La veille technologique ne sert pas seulement à mieux
    développer, elle est aussi très utile pour <span class="bold">se développer</span>.
  </p>

  <p>
    C’est durant mon cursus à <span class="bold">IN’TECH</span> que j’ai constaté l’utilité de la veille technologique.
    Nous avions, mon équipier
    Sylvain Goffart et moi-même, décidé de nous lancer dans le développement d’une solution de gestion de commandes avec
    une application web et une application mobile. À l’époque, le développement mobile n’en était qu’à ses prémices mais
    nous étions censés sélectionner la technologie la plus adaptée à nos profils, notre expérience et nos besoins. Nous
    avons alors décidé de partir sur la technologie la plus récente ce qui fût, sans l’ombre d’un doute, une grosse
    erreur.
    <br>
    Au fur et à mesure du développement, nous nous sommes aperçus que le développement, bien que plutôt amusant et
    attractif, n’était pas suffisamment <span class="bold">permissif</span> par rapport aux <span
      class="bold">objectifs</span> que nous nous étions fixés. Nous nous sommes
    alors rendus compte que nous avions plus choisi un outil plutôt qu’une boîte à outils, qui nous aurait elle permis
    de
    faire bien plus de choses en bien moins de temps.
    <br>
    Nous nous sommes remis à <span class="bold">chercher</span> activement une technologie solide, mise à disposition
    sur le marché du développement
    mobile et possédant la plus grande communauté active. À l’époque, ce fût Cordova. Moins attractif, moins amusant à
    prendre en main certes, mais beaucoup plus permissif. À quelques semaines de la fin, ce choix <span
      class="bold">décisif</span> nous a permis de
    fournir une application mobile de qualité jointe à notre site web.
  </p>

  <p>
    Aujourd’hui encore, je ne cesse d’<span class="bold">éveiller ma curiosité</span> sur divers sujets, qu’ils soient
    techniques ou plus orientés «
    business ». Je suis persuadé qu’une veille technologique constante et intelligement répartie pourrait me permettre à
    moi, développeur, de continuer à <span class="bold">mieux développer</span> mais aussi de <span
      class="bold">m’émanciper</span> dans d’autres domaines qui sauraient
    m’ouvrir d’autres portes, à l’extérieur du monde technique. Plus je veille, plus je veille <span
      class="bold">efficacement</span> et <span class="bold">rapidement</span>.
    J’ai aussi bien sûr remarqué à quel point la veille technologique m’est importante au travail, puisqu’elle me donne
    des moyens non négligeables pour aller plus loin dans mes développements, mais aussi une certaine crédibilité auprès
    de mes collaborateurs.
  </p>

  <p>
    À terme, je pense écrire des articles en rapport avec divers domaines d’activité, incluant évidemment le
    développement, afin d’obtenir une frise chronologique des étapes de ma compréhension du monde environnant. Chaque
    article serait pour ainsi dire une face de ce que j’ai appris et de ce que je suis, au moment où je l’ai écrit.
  </p>
</div>
