<div>
  <h1>Veille technologique</h1>
  <p>
    Il existe un phénomène propre à de nombreuses professions, y compris celle de développeur : tout va très vite. De là
    naît cette nécessité de se « mettre à la page », de cultiver sa curiosité sans jamais la ménager, sur son temps
    libre ou au travail ; le tout étant de trouver un rythme suffisamment cadencé pour être au courant de ce qui se
    passe « ailleurs », et rester productif dans ce qui se fait « ici ».
  </p>

  <p>
    De ma brève expérience, d’abord en tant que stagiaire puis en tant qu’alternant, je dirais qu’il existe plusieurs
    types de veilleur aussi bien qu’il existe plusieurs types de veille : on peut être attentif à un segment de marché
    particulier comme les frameworks front-end par exemple, ou rassembler de nombreuses sources afin d’obtenir une
    vision plus générale. Au sein même des équipes techniques, les développeurs ne veillent pas nécessairement sur les
    mêmes choses. Cela paraît tout à fait normal puisque tous les développeurs ne travaillent pas sur les mêmes
    technologies : front-end, back-end, software, web, banking, jeux-vidéo… À tous ces domaines sont associées de
    nombreuses thématiques de veille à explorer.
  </p>

  <p>
    Là où tout cela devient très intéressant, c’est que la vision d’ensemble du développeur « de base », s’élargit
    suffisamment pour atteindre d’autres domaines, parfois techniquement différents, d’autres fois radicalement
    différents. C’est le cas lorsqu’un développeur creuse un sujet si profondément qu’il l’amène à des problématiques
    plus commerciales que techniques. Prenez l’exemple d’une application, web ou mobile, de gestion de commande : s’il
    est évident que certaines problématiques techniques vont vous faire vous creuser les méninges, imaginez seulement le
    moment où votre produit est finalisé et mis en production. Il est certain qu’à ce stade, avoir la bonne approche
    commerciale est absolument vital. Pour vos clients, pour vous, et pour votre application qui, si vos pronostics
    commerciaux sont mauvais, risque de rendre l’âme assez rapidement.
  </p>

  <p>
    Immanquablement, la technique amène au commerce, car en fin de compte la technique est un moyen pour commercer :
    lorsque l’on développe un produit on ne se dit pas « nous allons écrire cent mille lignes de code », mais plutôt «
    nous allons délivrer un produit qui va révolutionner le marché et pour cela il nous faut écrire cent mille lignes de
    code ». La veille technologique ne sert pas seulement à mieux développer, elle est aussi très utile pour se
    développer.
  </p>

  <p>
    C’est durant mon cursus à IN’TECH que j’ai constaté l’utilité de la veille technologique. Nous avions, mon équipier
    et moi-même, décidé de nous lancer dans le développement d’une solution de gestion de commandes avec une application
    web et une application mobile. À l’époque, le développement mobile n’en était qu’à ses prémices mais nous étions
    censés sélectionner la technologie la plus adaptée à nos profils, notre expérience et nos besoins. Nous avons alors
    décidé de partir sur la technologie la plus récente ce qui fût, sans l’ombre d’un doute, une grosse erreur.
  </p>

  <p>
    Au fur et à mesure du développement, aussi amusant et attractif pouvait-il être, nous nous sommes aperçus qu’il
    n’était pas suffisamment solide par rapport aux objectifs que nous nous étions fixés : après tout nous devions
    rendre une application web et une application mobile ! Nous nous sommes alors rendus compte que nous avions choisi
    un outil plutôt qu’une boîte à outils. Nous avions dans notre malle de quoi faire une simple « preuve de concept »,
    là où nous voulions faire tourner une application mobile en production. Nous devions trouver un moyen de pouvoir
    développer bien plus de choses en bien moins de temps.
  </p>

  <p>
    Nous nous sommes remis à chercher activement une technologie solide, mise à disposition sur le marché du
    développement mobile et possédant la plus grande communauté active. À l’époque, ce fût Cordova. Moins attractif,
    moins amusant à prendre en main certes, mais beaucoup plus puissant. À quelques semaines de la fin, ce choix décisif
    nous a permis de fournir une application mobile totalement fonctionnelle jointe à notre site web.
  </p>

  <p>
    Aujourd’hui encore, je ne cesse d’éveiller ma curiosité sur divers sujets, qu’ils soient techniques (les outils que
    je suis suceptible d’utiliser au quotidien) ou plus orientés « business » (comment établir un business plan viable
    et durable par exemple). Je suis persuadé qu’une veille technologique continue, intelligement répartie sur mon
    quotidien, pourrait me permettre à moi, développeur, d’améliorer mes compétences techniques d’un côté, mais aussi de
    m’investir dans d’autres domaines plus généraux, plus « transverses ». Des disciplines permettant d’élargir mon
    spectre de connaissances autour de thématiques variées : plus grossièrement, inclure la technique sans omettre
    l’importance du business.
  </p>

  <p>
    Plus je veille, plus je veille efficacement et rapidement. J’ai aussi bien sûr remarqué à quel point la veille
    technologique m’est importante au travail, puisqu’elle me donne des moyens non négligeables pour aller plus loin
    dans mes développements, mais aussi une certaine crédibilité auprès de mes collègues. C’est le cas notamment
    lorsqu’il s’agit de prendre des décisions importantes quant à l’avenir des solutions que l’on développe, où une
    certaine culture technique est indispensable pour faire les bons choix. La veille permet en ce sens d’établir des
    connexions entre différentes thématiques, et donc ainsi d’avoir un panel d’options plus fourni. Elle permet en fait
    d’avoir « l’embarras du choix ».
  </p>

  <p>
    À terme, je pense écrire des articles en rapport avec divers domaines d’activité, incluant évidemment le
    développement, afin d’obtenir une frise chronologique des étapes de ma compréhension du monde environnant. Chaque
    article serait pour ainsi dire une face de ce que j’ai appris et de ce que je suis, au moment où je l’ai écrit.
  </p>

  <p>
    À terme, je pense écrire des articles en rapport avec divers domaines d’activité, incluant évidemment le
    développement, afin d’obtenir une frise chronologique des étapes de ma compréhension du monde environnant. Chaque
    article serait pour ainsi dire une face de ce que j’ai appris et de ce que je suis, au moment où je l’ai écrit.
  </p>
</div>
