div {
    // * MAIN PAGE CONTAINER
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // * MAIN PAGE SUBCONTAINERS
    &.subcontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > div {
            flex: 1;

            &.content {
                flex: 1.85;
            }
        }
    }

    // * ROUTER NAVIGATION LINKS
    &.main-menu {
        margin-top: 8em;
        word-spacing: 5em;

        & a {
            font-size: 130%;
            font-weight: 700;
            letter-spacing: 0.15em;
            color: #646464;
            transition-property: color;
            transition-duration: 0.1s;

            &:hover {
                color: white;
            }

            &:active {
                color: #202020
            }
        }
    }
}