div {
    &.container {
        display: flex;
        flex-direction: row;
        align-items: center;

        & div.slot-default {
            flex: 1;
        }

        & div.slot-content {
            flex: 1.85;
            
            & div.main-menu {
                margin-top: 8em;
                word-spacing: 5em;
                text-align: center;

                & a {
                    font-size: 130%;
                    font-weight: 700;
                    letter-spacing: 0.15em;
                    color: #646464;
                    transition-property: color;
                    transition-duration: 0.1s;

                    &:hover {
                        color: white;
                    }

                    &:active {
                        color: #202020
                    }
                }
            }
            
            //? don't need that for now :)
            // & div.main-page {
            //     // ...
            // }
        }
    }
}
