<div class='container'>
    <div class='slot-default'></div>
    <div class='slot-content'>
        <div class='main-menu'>
            <nav>
                <a
                    routerLink='/projects'
                    routerLinkActive='active'>
                    PROJECTS
                </a>
                <a 
                    routerLink='/skills'
                    routerLinkActive='active'>
                    SKILLS
                </a>
                <a
                    routerLink='/'
                    routerLinkActive='active'
                    [routerLinkActiveOptions]='{ exact: true }'>
                    HOMEPAGE
                </a>
                <a
                    routerLink='/about'
                    routerLinkActive='active'>
                    ABOUT
                </a>
                <a
                    routerLink='/contact'
                    routerLinkActive='active'>
                    CONTACT
                </a>
            </nav>
        </div>
        <div class='main-page'>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class='slot-default'></div>
</div>