<div class='container'>
    <div class='main-menu'>
        <nav>
            <a routerLink='/projects'>
                PROJECTS
            </a>
            <a routerLink='/skills'>
                SKILLS
            </a>
            <a routerLink='/'>
                HOMEPAGE
            </a>
            <a routerLink='/about'>
                ABOUT
            </a>
            <a routerLink='/contact'>
                CONTACT
            </a>
        </nav>
    </div>
    <div class='subcontainer'>
        <div></div>
        <div class='content'>
            <router-outlet></router-outlet>
        </div>
        <div></div>
    </div>
</div>