<div>
  <h1>Transmission de connaissances</h1>

  <p>
    Comme chaque étudiant de troisième semestre, mes camarades et moi avons dû former en 2017 une équipe pour créer un
    projet de formation humaine (<=> PFH). Et comme chaque semestre en PFH, nous avons dû respecter la thématique
      imposée, à savoir la transmission de connaissances. Ces connaissances, quelles qu'elles soient, peuvent être
      transmises à n'importe qui, du moment que nous en sommes les détenteurs.
  </p>

  <p>
    À ce stade de la formation à INTECH, les compétences techniques des étudiants sont encore très fraîches. Certains
    concepts et paradigmes sont encore abstraits à leurs yeux. Mais il existe une base que beaucoup d'entre eux possède,
    au moins partiellement. Il s'agit du langage HTML. Et c'est le langage que nous avons ciblé pour orchestrer notre
    formation.
  </p>

  <h3>Quel public ?</h3>
  <p>
    Puisque nous n'étions qu'en troisième semestre, nous ne pouvions pas dispenser de formation à des élèves de semestre supérieur. Le public que nous avons donc décidé de viser était les étudiants de premier semestre.
  </p>
</div>
