<div>
  <h1>Transmission de connaissances</h1>

  <p>
    Comme chaque étudiant de troisième semestre, mes camarades et moi avons dû former en 2017 une équipe pour créer un
    projet de formation humaine (<=> PFH). Et comme chaque semestre en PFH, nous avons dû respecter la thématique
      imposée, à savoir la transmission de connaissances. Ces connaissances, quelles qu'elles soient, pouvaient être
      transmises à n'importe qui, du moment que nous en étions les détenteurs.
  </p>

  <p>
    À ce stade de la formation à INTECH, les compétences techniques des étudiants sont encore très fraîches. Certains
    concepts et paradigmes sont encore abstraits à leurs yeux. Mais il existe une base que beaucoup d'entre eux possède,
    au moins partiellement. Il s'agit des langages HTML et CSS. Et ce sont ces langages que nous avons ciblé pour
    orchestrer notre
    formation.
  </p>

  <h3>Quel public ?</h3>
  <p>
    Puisque nous n'étions qu'en troisième semestre, nous ne pouvions pas dispenser de formation à des élèves de semestre
    supérieur. Le public que nous avons donc décidé de viser furent les étudiants de premier semestre. L'avantage
    d'enseigner à des élèves en tout début de cursus est qu'ils sont très réceptifs à tout type d'enseignement. Ils
    n'ont pas encore eu le temps de faire leurs armes, et ne possèdent en général pas d'opinion particulière quant aux
    technologies utilisées lors d'un cours. Cela rend la formation plus facile, pour eux comme pour nous.
  </p>

  <h3>Le programme</h3>
  <p>
    Mon équipe et moi avons donc décidé d'établir un programme, qui amènerait petit à petit nos élèves à maîtriser le
    HTML et le CSS. Ainsi, nous avons créé trois ateliers distincts : l'atelier "découverte" où nous présenterions le
    HTML, le CSS et le Web de manière plus générale, l'atelier "théorique" où nous expliquerions comment fonctionne ces
    deux langages, et enfin l'atelier "pratique" où nous laisserions à nos élèves libre cours à leur imagination pour
    créer un site web de A à Z. Notre école nous avait jusque là appris beaucoup de chose en partie grâce à la pratique,
    et nous comptions rendre la pareille à ses plus jeunes recrues.
  </p>

  <h3>Le déroulement</h3>
  <p>
    Comme prévu, nous avons dispensé nos trois ateliers. Même si nous ne attendions pas à ce que les étudiants soient
    tous focalisés sur le cours, nous avons été agréablement surpris de les voir s'y intéresser et s'y investir. Ils ont
    posé de nombreuses questions et ont été force de proposition plusieurs fois. Nos ateliers leur ont plu car ils ont
    appris au moins une chose à chacun d'entre eux. Nous avions d'ailleurs assez peur de les ennuyer avec le chapitre
    introductif sur le Web. Mais là encore, nous avons été surpris de leur investissement : chacun a fait ses propres
    recherches sur la création du Web, sur sa neutralité, sur son fondateur (Tim Berners-Lee) etc.
    <br>
    Les travaux pratiques du dernier atelier ont été remarquablement bien réussis. Chaque étudiant a pris le temps pour
    créer un site web de qualité, appliquant les principes et les bonne pratiques enseignés durant la formation. Nous
    étions fier de voir ces résultats, non seulement car ils étaient le "fruit" de notre formation, mais surtout parce
    que nos élèves étaient eux-mêmes fiers de nous les partager.
  </p>

  <h3>Transmettre, alors ?</h3>
  <p>
    Je suis convaincu que des exercices comme celui de dispenser une formation à des élèves, permettent de prendre
    confiance en soi. De même que cela donne certaines cartes en main, pour animer un atelier, une formation, un cours
    etc. Et transmettre des connaissances est la base du métier de développeur. Il est d'une importance capitale pour
    celui ou celle qui le pratique, d'être capable de s'ouvrir aux autres dans l'unique but de partager son
    savoir.
  </p>
</div>
