html, body {
    background-color: black;
    font-family: 'Fira Code', monospace;
    color: #dbdbdb;
    cursor: default;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

.italic {
    font-style: italic;
}