html,
body {
  background-color: black;
  font-family: 'Fira Code', monospace;
  color: #dbdbdb;
  cursor: default;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: normal;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}
  
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}