<div>
  <h1>Bienvenue !</h1>
  <div class="description">
    <p>
      Je m'appelle Pierre Viara et je suis développeur web. Mon métier consiste à répondre à des besoins particuliers en
      résolvant des problèmes. Et j'adore ça. Je peux rendre service et m'amuser en chemin.
    </p>

    <p>
      Le monde du développement est en pleine ébullition : la population de développeurs double tous les cinq
      ans, ce qui signifie que la moitié des développeurs ont moins de cinq ans d'expérience.
      Un rapport de <a href="https://www.slashdata.co/" target="_blank">SlashData</a> estime que nous serons 45 millions
      d'ici 2030.
    </p>

    <p>
      Aujourd'hui, il est difficile de nier l'importance des développeurs ou leur impact sur le monde. Tout ou presque
      est
      informatisé, du four à micro-ondes aux laptops en passant par les smartphones. C'est pour cela qu'il est
      important,
      en tant que développeur, de suivre un code éthique. Une façon de développer propre et rigoureuse. C'est ce que je
      tâche de faire tous les jours.
    </p>

    <div class="separation"></div>

    <p>
      N'hésitez pas à <a href="/contact">me contacter</a> si vous avez des questions, ou prenez le temps de feuilleter les pages de ce
      portfolio afin d'en apprendre un peu plus sur mes activités.
    </p>
  </div>
  <div class='signature'>
    <p class="form">
      Bien à vous,
    </p>
    <p class="name">
      Pierre Viara
    </p>
  </div>
</div>
