<div>
    <p class='description'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend eleifend orci, in molestie magna luctus
        ut. Integer efficitur libero metus, vitae dignissim mauris rhoncus a. Nullam elementum porttitor ante eget
        tristique. Integer risus mi, faucibus ac tincidunt ac, dictum porttitor quam. Nam volutpat finibus condimentum.
        Mauris maximus pellentesque sodales. Nam aliquet eu tortor sed pretium. Aliquam erat volutpat. Praesent porttitor
        metus a dui scelerisque commodo. Aliquam at mi lacus. Suspendisse tincidunt vehicula orci, sit amet sollicitudin
        urna venenatis sit amet. Nulla nec congue lacus. Nulla luctus nec mauris vel sagittis. Quisque id gravida felis. In
        eleifend, magna nec ultricies pulvinar, nisl lorem sollicitudin turpis, id mattis ante turpis viverra nunc.
        <br />
        <br />
        Nunc aliquet sed lectus vel feugiat. Proin sit amet egestas felis, maximus viverra lorem. Aenean pulvinar sagittis
        ex, molestie egestas dui condimentum scelerisque. Donec maximus magna eget massa porttitor, a finibus mauris varius.
        Sed fermentum, lectus sed aliquet lobortis, nibh eros aliquam magna, sed tempus nunc libero ornare risus.
        Suspendisse nec lectus nisi. Curabitur finibus, felis non rhoncus bibendum, enim eros feugiat risus, aliquet
        tincidunt enim odio in dolor.
    </p>
    <p class='signature'>
        Pierrot
    </p>
</div>
