p {
    cursor: default;

    &.description {
        font-family: 'Fira Code', monospace;
        text-align: justify;
    }

    &.signature {
        font-family: 'Gloria Hallelujah', cursive;
        text-align: right;
        font-size: 120%;
    }
}